.menu-principal {
  width: 90%;
  max-width: 1200px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 30px;
  background-color: transparent;
  overflow: hidden;
}

header {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      160deg,
      rgba(106, 110, 112, 0.5) 0%,
      rgba(70, 75, 74, 0.5) 100%
    ),
    url(../img/WhatsApp\ Image\ 2021-03-08\ at\ 18.16.23.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.head {
  flex-direction: column;
  height: 5em;
  width: 38rem;
}
.head h1 {
  font-family: "Anonymous Pro", monospace;
  font-size: 2.5em;
  color: #f8f8f8;
  letter-spacing: 0.1em;
  border-right: 0.15em solid orange;
  overflow: hidden;
  white-space: nowrap;
  animation-duration: 20s;
  animation: typing 4.5s steps(40, end), blink step-end 0.5s infinite;
}

.head p {
  font-family: "Anonymous Pro", monospace;
  font-size: 1.4em;
  font-weight: bold;
  color: #f8f8f8;
  letter-spacing: 0.1em;
  white-space: nowrap;
  margin-top: 1em;
  margin-left: 6.5em;
}

.head p span {
  font-weight: bold;
  color: #b4b2b2;
}

.logo img {
  width: 200px;
  cursor: pointer;
}

.menu-bar {
  /* DISPLAY FLEX PARA QUE APAREZCAN UNO AL LADO DEL OTRO space bet separa uno para qcada lado*/
  display: flex;
  width: 100%;
  justify-content: space-between;
  left: 20px;
  margin-left: 10px;
}

.menu-bar .enlaces ul li {
  /* display in line block para que aparezcan en linea uno al lado del otro*/
  display: inline-block;
  padding: 0 10px;
}

.menu-bar .enlaces ul li a {
  /*el backgarnd es espacial para que tenga una linea abajo cuando hago hover*/
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background: linear-gradient(currentColor, currentColor);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: all 0.5s;
}
.menu-bar .enlaces ul li a:hover {
  color: var(--color-secundario);
  background-size: 50% 2px;
}
.menu-bar .sociales a {
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 10px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
}
.menu-bar .sociales a:hover {
  color: var(--color-secundario);
}
.menu-principal i {
  cursor: pointer;
  color: var(--color-texto);
  font-size: 30px;
  float: right;
  display: none;
  transition: all 0.5s;
}
.menu-principal i:hover {
  color: var(--color-secundario);
}

.fa-chevron-down {
  margin-top: 8rem;
  font-weight: bold;
  font-size: 2em;
  color: var(--color-primario);
  animation-name: upAnDown;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition: all 0.5s;
}

@keyframes upAnDown {
  from,
  to {
    transform: translate(0, -5px);
  }
  50% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, -5px);
  }
}

.fa-chevron-down:hover {
  color: #721c24;
}
